@media only screen and (max-width: 1024px){
.eltdf-content .eltdf-content-inner > .eltdf-container > .eltdf-container-inner, .eltdf-content .eltdf-content-inner > .eltdf-full-width > .eltdf-full-width-inner { padding: 115px 0 48px 0;}}

@media only screen and (min-width: 769px) and (max-width: 1024px){
h1 { font-size: 50px;}h2 { font-size: 40px;}}

@media only screen and (min-width: 681px) and (max-width: 768px){
h1 { font-size: 50px;}h2 { font-size: 40px;}}

@media only screen and (max-width: 680px){
h1 { font-size: 45px;line-height: 41px;}h2 { font-size: 40px;}h3 { font-size: 32px;}}