*{
    font-family: "Playfair Display",serif;
}

@media only screen and (max-width: 600px) {
    .vc_column-inner.vc_custom_1526461461774 {
        margin-left: 10px !important;
    }
}

a .btnViewMore:hover{
    color: black;
}
.img-on-front {
    position: absolute;
    z-index: 10 !important;
}
.vc_custom_1526974042799 {
    padding-top: 139px !important;
    padding-bottom: 140px !important;
}
.vc_custom_1527595239564 {
    padding-top: 76px !important;
    padding-bottom: 76px !important;
}
.vc_custom_1525691547730 {
    padding-top: 20px !important;
}
.vc_custom_1525691547730 {
    padding-top: 20px !important;
}
.vc_custom_1526459390824 {
    padding-top: 109px !important;
    padding-bottom: 125px !important;
}
.vc_custom_1526457648096 {
    padding-top: 180px !important;
    padding-bottom: 203px !important;
}
.vc_custom_1527586692634 {
    padding-top: 123px !important;
    padding-bottom: 76px !important;
}
.vc_custom_1526023310740 {
    padding-top: 69px !important;
    padding-bottom: 0px !important;
}
.vc_custom_1526973925078 {
    margin-bottom: -33% !important;
}
.vc_custom_1526973963854 {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
.vc_custom_1526461650646 {
    padding-top: 105px !important;
    padding-bottom: 35px !important;
    background-image: url('../images/h1-background-img-1.jpg') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1526480186210 {
    margin-bottom: -30% !important;
}
.vc_custom_1526461461774 {
    margin-top: -144px !important;
    margin-left: 12.5% !important;
    padding-top: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    background-image: url('../images/h1-img-14.png') !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
}
.vc_custom_1526554070850 {
    padding-right: 0px !important;
    padding-left: 0px !important;
}
img.wp-smiley,
img.emoji {
    display: inline !important;
    border: none !important;
    box-shadow: none !important;
    height: 1em !important;
    width: 1em !important;
    margin: 0 0.07em !important;
    vertical-align: -0.1em !important;
    background: none !important;
    padding: 0 !important;
}
.woocommerce form .form-row .required {
    visibility: visible;
}
.page-id-6 .eltdf-content .eltdf-content-inner > .eltdf-container > .eltdf-container-inner,
.page-id-6 .eltdf-content .eltdf-content-inner > .eltdf-full-width > .eltdf-full-width-inner 
{
    padding: 0;
}
.page-id-6 .eltdf-content .eltdf-content-inner > .eltdf-container > .eltdf-container-inner,
.page-id-6 .eltdf-content .eltdf-content-inner > .eltdf-full-width > .eltdf-full-width-inner 
{
    padding: 0;
}
.page-id-6 .eltdf-page-header .eltdf-menu-area 
{
    background-color: rgba(255, 255, 255, 0);
}
.row-with-map-links .wpb_text_column a:hover 
{
    color: #fbb8ac !important;
}

.page-id-1529 .eltdf-content .eltdf-content-inner > .eltdf-container > .eltdf-container-inner,
.page-id-1529 .eltdf-content .eltdf-content-inner > .eltdf-full-width > .eltdf-full-width-inner {
    padding: 0;
}
@media only screen and (max-width: 1024px) {
    .page-id-1529 .eltdf-content .eltdf-content-inner > .eltdf-container > .eltdf-container-inner,
    .page-id-1529 .eltdf-content .eltdf-content-inner > .eltdf-full-width > .eltdf-full-width-inner {
        padding: 0;
    }
}
.page-id-1529 .eltdf-content .eltdf-content-inner > .eltdf-container > .eltdf-container-inner,
.page-id-1529 .eltdf-content .eltdf-content-inner > .eltdf-full-width > .eltdf-full-width-inner {
    padding: 0;
}
@media only screen and (max-width: 1024px) {
    .page-id-1529 .eltdf-content .eltdf-content-inner > .eltdf-container > .eltdf-container-inner,
    .page-id-1529 .eltdf-content .eltdf-content-inner > .eltdf-full-width > .eltdf-full-width-inner {
        padding: 0;
    }
}

.top-banner h1{
    color: white;
    text-align: center;
    padding: 120px 0px;
}
.events-info{
    padding:50px 0px;
}
.events-info p {
    text-align: justify;
}
.events-grp{
    background-color: #f5f5f5;
    padding: 20px 0px;
    font-size: 17px;
}
.events-grp h4{
    text-transform: capitalize;
}
.events-grp h4::after{
    content: "";
    width: 10%;
    margin-right: -100px;
    display: inline-block;
    position: absolute;
    left: 20px;
    top: 50px;
    border-bottom: 2px solid #777;
}
.events-grp p{
    text-align: justify;
}
.sing-event{
    margin: 15px 0px;
}
.locations{
    background-color: #cac9c92e;
    padding: 60px 0px;
}
.locations ul li img{
    width: 100px;
    height: 100px;
}
.locations ul li{
    padding:0px 30px;
    display: inline-grid;
}
.locations ul{
    margin:auto;
}
/*.locations ul li span{
    margin-top: 20px;
    text-align: center;
}*/
.locations span{
    margin-top: 20px;
    text-align: center;
    display: block;
}
.locations img{
    width: 100px !important;
    height: 100px;
    margin:auto;
}
.locations h3, .our-event h3, .recent-gallery h3, .our-services-home, .home-blog-secetion h3{
    text-align: center;
    margin-bottom: 50px;
    position: relative;
}
.locations ul li:first-child{
    padding-left:0px;
}
.locations ul li:last-child{
    padding-right:0px;
}
.event-cover-img{
    width: 100%;
    height: 350px;
    border-radius: 10px 10px 0px 0px;
    overflow: hidden;
    background-size: cover !important;
    border-radius: 5px;
}
.event-cover-img h4 a:focus{
    color:unset !important;
    text-decoration: none !important;
}
.btnViewMore2{
    margin-top: 40px; 
    background-color: unset;
    border-color: #fbb8ac !important;
    color:black;
    display: block !important;    
    margin:auto !important;
    margin-top: 30px !important;
    font-size: 17px;
}
.btnViewMore:focus{
    outline: none !important;
    background-color: unset;
}
.btnViewMore2:focus{
    background-color: unset;
    outline: none !important;
}
.btnViewMore2 a:focus{
    color:black;
    text-decoration: none;
}
.btnViewMore a:focus{
    color:black;
    text-decoration: none;
}
.btnViewMore2 a:hover{
    color:black;
    text-decoration: none;
}
.btnViewMore2:hover.btnViewMore2{
    color:white;
    background-color: #fbb8ac !important;
    text-decoration: none;
}
/*.btnViewMore a{
    color: white;
}*/
.btnViewMore{
    background-color: #fbb8ac !important;
    border-color: #fbb8ac !important;
    color:black;
    display: block !important;    
    margin:auto !important;
    margin-top: 30px !important;
    font-size: 17px;
}
.btnViewMore:hover.btnViewMore{
    background-color: unset !important;
}
.btnViewMore a:hover{
    color:black;
    text-decoration: none;
}
.btnViewMore:focus{
    outline: none !important;
}
.our-event{
    /*padding:20px 0px;*/
}
.our-event h4{
    position:absolute;
    margin:auto;
    width: 100%;
    bottom: 0;
    padding:10px 0px;
    text-align: center;
    color:white;
    font-weight: bold;
    /*background-color: #fcbcb0;*/
    border-radius: 0px 0px 10px 10px; 
}
.our-services h4{
    margin: 0px !important;
    padding-top:10px;
    text-align: center;
}
.m-t-2{
  padding-top: 40px !important;
}
.recent-gallery{
    margin-top: 20px !important;
    padding-bottom: 40px;
    /*background: #ffcaca2e;*/
    background: #cac9c92e;
}
.recent-gallery .eltdf-ig-image img{
    height: 520px;
}
.recent-gallery .container-fluid{
    padding:0px !important;
}
.inner-banner{
    background: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url('../images/h1-parallax-1.jpg');
    background-size: cover;
    height: 300px;
}
.inner-banner h1{
    margin-top: 120px;
    text-align: center;
    color:white;
}
.testimonial h3{
    margin-top: 50px;
    text-align: center;
    color: white;
}



.testimonial{
    background: linear-gradient(45deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../images/05-h9-img-2.jpg) no-repeat center;
    background-size:cover; 
}
/*********************************
9. Testimonials
*********************************/

.testimonials
{
    padding-top: 40px;
    padding-bottom: 114px;
    position: relative;
    border-bottom: 15px solid pink;
}
.testimonials_overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*background: rgba(13,11,24,0.79);*/
    /*background: rgb(240 237 232);*/ 
    pointer-events: none;
}
.test_slider_item
{
    /*background: #ffffff;*/
    background: rgba(0,0,0,0.7);
    padding-top: 43px;
    padding-bottom: 58px;
    padding-left: 45px;
    padding-right: 45px;
    color: white;
    display:table;
}
.rating i::before
{
    font-family: 'FontAwesome';
    content: "\f005";
    font-style: normal;
    font-size: 18px;
    color: rgba(0,0,0,0.2);
}
.rating i:not(:last-of-type)
{
    margin-right: 6px;
}
.rating_1 i:first-child::before{color: #ffb400;}
.rating_2 i:first-child::before{color: #ffb400;}
.rating_2 i:nth-child(2)::before{color: #ffb400;}
.rating_3 i:first-child::before{color: #ffb400;}
.rating_3 i:nth-child(2)::before{color: #ffb400;}
.rating_3 i:nth-child(3)::before{color: #ffb400;}
.rating_4 i:first-child::before{color: #ffb400;}
.rating_4 i:nth-child(2)::before{color: #ffb400;}
.rating_4 i:nth-child(3)::before{color: #ffb400;}
.rating_4 i:nth-child(4)::before{color: #ffb400;}
.rating_5 i:first-child::before{color: #ffb400;}
.rating_5 i:nth-child(2)::before{color: #ffb400;}
.rating_5 i:nth-child(3)::before{color: #ffb400;}
.rating_5 i:nth-child(4)::before{color: #ffb400;}
.rating_5 i:nth-child(5)::before{color: #ffb400;}
.testimonial_title
{
    margin-top: 21px;
}
.testimonial_title a
{
    font-size: 24px;
    font-weight: 600;
    color: #393939;
    line-height: 1.2;
}
.testimonial_title a:hover
{
    color: #ffa37b;
}
.testimonial_text
{
    margin-top: 24px;
}
.testimonial_image
{
    width: 106px;
    height: 106px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    border:2px solid white;
}
.testimonial_author
{
    margin-top: 26px;
    font-size: 15px;
    font-weight: 600;
    color: #393939;
}
.testimonial_author a
{
    font-size: 15px;
    font-weight: 600;
    color: #393939;
}
.testimonial_author a:hover
{
    color: #ffa37b;
}
.single-video{
    padding: 0px;
}
.home-video{
/*    background-image: linear-gradient(45deg,rgba(0,0,0,1)0%,rgba(59,59,256,1)50%,rgba(0,212,255,1)100%);
    linear-gradient(45deg,rgb(206 237 81)0%,rgb(255 255 255)50%,rgb(227 186 195)100%)*/
    /*margin:150px 0px;*/
    background-color: black;
}
.singleService{
    margin-top: 20px;
}
.our-services-home{
    margin-bottom: 0px;
    /*background: #e5e5e52e;*/
    background: #cac9c92e;
/*    background: #ffcaca2e;*/
}
/*.home-video{
    position: relative;
}
.video-layer{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    position: absolute;
}*/
.vc_custom_1527595239564{
    padding-top: 30px !important;
}
.our-services-home img{
    width: 130px !important;
    height: 130px !important;
/*    border-radius: 50%;*/
    object-fit: cover;
}
.ServSingle{
    height: 300px;
    border-radius: 5px;
    display: table-cell;
    vertical-align: bottom;
}
.ServSingle h4{
    color: white !important;
}
.our-services-home h3{
    margin-bottom: 60px !important;
}
.gallery-block{
    margin-top: 30px;
    padding:40px 0px !important;
}

.gallery-block .eltdf-grid-masonry-list
{
    overflow: hidden;
    height: 450px;
    overflow-y: 
    margin-bottom: 10px;
    overflow-y: auto;
    transition: 1s;
    scroll-behavior: smooth;
}

.fancybox-toolbar button{
    display: block !important; 
}
.gallery-block .eltdf-grid-masonry-list::-webkit-scrollbar
{
    width: 5px;
    border-radius: 10px;
    background-color: pink;
}
.gallery-block .eltdf-grid-masonry-list::-webkit-track
{
    box-shadow: inset 0 0 5px #7777;
}
.gallery-block .eltdf-grid-masonry-list::-webkit-scrollbar-thumb
{
    background-color: red;
    border-radius: 10px;
}

.our-service-block{
    margin-top: 30px;
    padding:40px 0px;
}
.singleService{
    border: 1px solid #7777;
    border-radius: 5px;
    /*box-shadow: 5px 5px 10px #777;*/
    overflow: hidden;
    transition: 0.2s;
}
.singleService:hover{
    /*transition: 0.2s;
    border: 1px solid #7777;
    box-shadow: unset;*/
}
.singleService  h4{
/*    background-color:lightblue;*/
    text-align: center;
    padding: 15px 0px;
    margin:0px;
    border-top:1px solid #7777;
}
.serviceCoverImg{
    height: 250px;
}
.serviceContent p{
    padding:15px;
    text-align: center;
}
.serviceContent .content{
    height: 180px;
    margin-bottom: 10px;
    overflow-y: auto;
    transition: 1s;
    scroll-behavior: smooth; 
}
.singleServiceBlock{
    margin-top: 30px;
}
.serviceContent .content::-webkit-scrollbar
{
    width: 5px;
    border-radius: 10px;
    background-color: #c8c8c8c8;
}
.serviceContent .content::-webkit-track
{
    box-shadow: inset 0 0 5px #7777;
}
.serviceContent .content::-webkit-scrollbar-thumb
{
    background-color: pink;
    border-radius: 10px;
}

.serviceCoverImg img{
    width: 100%;
    height: 100%;
    object-fit: cover
}
.about-us-block{
    padding: 40px 0px;
    margin-top: 30px;
    text-align: justify;
}
.blog-block{
    margin-top: 30px;
    padding:40px 0px;
}
.cmt-section{
    text-align: left;
    margin-top: 50px !important;
    color:#777 !important;
}
.cmt-section h3{
    color:#777 !important;   
}
.cmt-section .comment-reply-title
{
    font-size: 26px !important;
}
.cmt-section .form-submit .submit
{
    border-width: 1px !important;
    background-color: white;
    color:black;
    border-radius: 5px;
    padding:5px 10px;
}
.cmt-section textarea
{
    height: 70px !important;
    margin-top: 20px !important; 
    border-color:#777 !important;
}
.cmt-section .commentlist li{
    list-style: none;
}
.cmt-section .comment-author,.cmt-section .commentmetadata{
    display: inline;
    color:#fbb8ac !important;
} 
.cmt-section .comment-author a,.cmt-section .commentmetadata a{
    color:#fbb8ac !important;
}
.cmt-section .commentmetadata{
    float: right;
}
.cmt-section .reply{
    width: 100%;
    text-align: right;
    border-bottom: 1px solid #7777;
    display: block;
    padding-bottom: 10px !important;
}
.cmt-section .reply a{
    color:#6c6cfc !important;
}
.cmt-section .comment-body p{
    font-size: 24px;
}
.cmt-section .comment-body{
    margin-bottom: 15px;
}

.wpcf7-response-output{
    border:none !important;
}
.home-header #menu-header{
    padding-top: 40px !important;
}
.webLogo{
    margin-top: 30px;
}
.videos-block video{
    object-fit: cover;
}
.singleVideo{
    margin-top: 30px;
}

.fluidvids{
    padding-top:720px;
}
.webLogo{
    margin-top: 0px !important;
}
.home-header{
    background-color: rgba(0,0,0,0.4) !important;
}
.pos-ab
{
    position: absolute;
    text-align: center;
    z-index: 1;
}
.mt-35{
    margin-top: 35px;
}
.testimonials .owl-carousel .owl-item img
{
    height: 100% !important;
    object-fit: cover;
}
.test_slider_item {
    min-height: 500px;
}
.home-blog-content{
    text-align: center;
}
.home-blog-content h4{
    text-align: center;
}
.home-blog-content span::after{
    content: "";
    width: 10%;
    display: inline-block;
    border-bottom: 2px solid #7777;
    margin-left: 5px;
}
.home-blog-content span::before{
    content: "";
    width: 10%;
    display: inline-block;
    border-bottom: 2px solid #7777;
    margin-right: 5px;
}
.home-blog-img{
    height: 250px;
}
.home-blog-img img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.home-blog-secetion{
    margin-bottom: 40px;
    margin-top: 20px;
}
.home-blog-content a{
    color: unset;
    text-decoration: none;
}
.single-location{
    height: 350px;
    border:1px solid #c8c8c8c8;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}
.single-location:hover .location-image{
    bottom: -50px;
    transition: 0.5s;
}
.location-image
{
    transition: 0.5s;
    background: rgba(0,0,0,0.5);
    height: 200px;
    width: 100%;
    position: absolute;
    bottom: -150px;
}
.location-image h4{
    text-align: center;
    color: white;
}
.locations-section{
    margin:40px 0px;
}
.single-location h4{
    margin:0px;
    padding:10px 0px;
    text-align: center;
}
.eltdf-portfolio-list-holder.eltdf-pl-gallery-overlay .eltdf-pli-text-holder{
    background-color: rgba(0,0,0,0.3);
}
.eltdf-portfolio-list-holder.eltdf-pl-gallery-overlay h4{
    font-weight: bold;
}

.eltdf-main-menu>ul>li>a{
    text-decoration: none;
    line-height:15px;
}
.eltdf-main-menu>ul>li>a::after{
    content: "";
    width: 100%;
    display: inline-block;
    border-bottom: 2px solid pink;
    opacity: 0;
    position: relative;
    left: 60px;
}
.eltdf-main-menu>ul>li>a:hover::after
{
    opacity: 1;
    transition: 0.4s;
    left: 0px;
}

.send-btn-red{
    background-color: rgba(195, 20, 50, 0.8) !important;
    color: white !important;
    font-size: 16px;
}
.contact-info{
    margin: 40px 0px;
}
.contact-info
{
    margin: 40px 0px;
    text-align: center;
}
.contact-info i{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    text-align: center;
    padding-top:40px;
    font-size: 43px;
    background-color: rgba(195, 20, 50, 0.8);
    color: white;
}
.contact-info span{
    margin: 20px 0px;
    font-size: 20px;
    display: block;
}
.contact-map{
    margin: 40px 0px;
}

.user-event-grp .container-fluid , .sinlge-user-event,.user-event-img{
    padding: 0px;
}
.sinlge-user-event{
    display: flex !important;
    text-align: justify;
    border-bottom: 10px solid pink;
}
.sinlge-user-event:last-child{
    border:none;
}
.single-event-row:first-child{
    margin:0px;
}
.single-event-row, .single-event-row2{
    max-height: 400px;
    margin:60px 0px;
    box-shadow: 5px 10px 10px 2px #777;
}
.single-event-row .user-event-img{
/*    border:5px solid #fbb8ac;*/
    border-right: 0px;
}
.single-event-row2 .user-event-img{
    /*border:5px solid #fbb8ac;*/
    border-left: 0px;
}
.user-event-img img{
    width: 100%;
    height: 400px;
    object-fit: cover;
}
.single-event-row .user-event-content{
    border:20px solid #fbb8ac;
    border-left: none;
}
.single-event-row2 .user-event-content{
    border:20px solid #fbb8ac;
    border-right: none;
}
.user-event-content i{
    color: #fbb8ac;
}
.user-event-content{
    height: 400px;
    padding:50px 20px;
    text-align: center;
}
.eltdf-main-menu>ul>li>a{
    font-family: "Playfair Display",serif;
    padding: 0 5px;
}
.our-packages-block{
    margin-top: 170px;
}
.our-packages-block table:nth-of-type(even){
    margin-top:0px !important;
}
.our-packages-block .table-striped>tbody>tr
{
    color: black;
}

.our-packages-block .table{
    border-radius: 10px;
    overflow: hidden; 
}

/*Red*/
.singlePackage1 .table-striped>tbody>tr:nth-of-type(odd)
{
    background-color: #c47b95;
    color: white;   
}
.singlePackage1 .table tr, .singlePackage1 .table>thead>tr>th
{
    border: 1px solid #c47b95 !important;
}
.singlePackage1 table>thead>tr:first-child{
    background-color:  #c47b95;
}
.singlePackage1 table thead tr h3{
    color: white;
}

/*Blue*/

.singlePackage2 .table-striped>tbody>tr:nth-of-type(odd)
{
    background-color: #aeac55;
    color: white;   
}
.singlePackage2 .table tr, .singlePackage2 .table>thead>tr>th
{
    border: 1px solid #aeac55;
}
.singlePackage2 table>thead>tr:first-child{
    background-color:  #aeac55;
}

/*Green*/

.singlePackage3 .table-striped>tbody>tr:nth-of-type(odd)
{
    background-color: #587d71;
    color: white;
}
.singlePackage3 .table tr, .singlePackage3 .table>thead>tr>th
{
    border: 1px solid #587d71;
}
.singlePackage3 table>thead>tr:first-child{
    background-color:  #587d71;
}
.singlePackage3 table thead tr h3{
    color: white;
}

/*Yellow*/

.singlePackage4 .table-striped>tbody>tr:nth-of-type(odd)
{
    background-color: #F0E68C;  
}
.singlePackage4 .table tr, .singlePackage4 .table>thead>tr>th
{
    border: 1px solid #F0E68C;
}
.singlePackage4 table>thead>tr:first-child{
    background-color:  #F0E68C;
}

.our-packages-block table th h4{
    margin: 5px 0px;
}
.our-packages-block table th h3{
    font-weight: bold;
}
.our-packages-block table th h3 span
{
    font-size: 20px;
}
.our-packages-block table td
{
    text-align: left;
}
.singlePackage table tr td:nth-of-type(even)
{
    border-left:1px solid #7777;
}
.mb-5{
    margin-bottom: 50px;
}
.mt-5{
    margin-top: 50px;
}

/*Red*/
.singlePackage6 .table-striped>tbody>tr:nth-of-type(odd)
{
    background-color: #c47b95;
    color: white;   
}
.singlePackage6 .table tr, .singlePackage6 .table>thead>tr>th
{
    border: 1px solid #c47b95 !important;
}
.singlePackage6 table>thead>tr:first-child{
    background-color:  #c47b95;
}
.singlePackage6 table thead tr h3{
    color: white;
}

/*Blue*/

.singlePackage5 .table-striped>tbody>tr:nth-of-type(odd)
{
    background-color: #aeac55;
    color: white;   
}
.singlePackage5 .table tr, .singlePackage5 .table>thead>tr>th
{
    border: 1px solid #aeac55;
}
.singlePackage5 table>thead>tr:first-child{
    background-color:  #aeac55;
}

/*Green*/

.singlePackage4 .table-striped>tbody>tr:nth-of-type(odd)
{
    background-color: #587d71;
    color: white;
}
.singlePackage4 .table tr, .singlePackage4 .table>thead>tr>th
{
    border: 1px solid #587d71;
}
.singlePackage4 table>thead>tr:first-child{
    background-color:  #587d71;
}
.singlePackage4 table thead tr h3{
    color: white;
}
.home-enquiry-section{
    padding: 100px 0px;
    background: url('../images/h1-background-img-1.jpg');
    background-size: cover;
}
.home-enquiry-section .form-section{
    background-color: white;
    border-radius: 10px 0px 0px 10px;
    padding-bottom: 50px;
}
.form-section{
    padding-top: 20px;
}
.home-enquiry-section .img-section
{
    border-radius: 0px 10px 10px 0px; 
    background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('../images/05-port-3-img-16.jpg');
    background-size: cover;    
}
.home-enquiry-section .row{
    display: flex;
}
.home-form-btn{
    background-color: #aeac55;
    color: white;
}
.home-enquiry-section textarea{
    height: 180px;
}
.home-enquiry-section span{
    float: right;
}
.home-enquiry-section span a{
    color: #aeac55;
}
.home-enquiry-section span a:hover{
    text-decoration: unset;                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
}


.sticky{
    top: 0px;
    position: fixed;
    z-index: 9999;
}

@media only screen and (max-width: 750px) 
{
    #menu-header-2{
        padding-left: 20px;
        padding-right: 20px;
    }
    #menu-header-2 li{
        padding-left: 10px;
        padding-right: 10px; 
    }
    .eltdf-mobile-logo-wrapper img{
        height: 60px !important;
    }
    .eltdf-vertical-align-containers .eltdf-position-center:before, .eltdf-vertical-align-containers .eltdf-position-left:before, .eltdf-vertical-align-containers .eltdf-position-right:before{
        vertical-align: top;
    }
    .our-event .container .col-md-4
    {
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .home-enquiry-section .img-section
    {
        display: none;
    }
    .home-enquiry-section .form-section{
        border-radius: 10px;
    }

}


.btnViewMore.user-gallery{
    width: 300px;
    text-decoration: none;
}

.login-user{
    float: right;
    padding: 34px 16px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}
.m-login{
    padding: 13px 30px;
    text-transform: uppercase;
    font-weight: bold;
}

.login-user a,.m-login a{
    color: #fff !important;
}

.login-user-inner{
    float: right;
    padding: 1px;
    position: relative;
    top: -7px;
    right: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
.login-user-inner a{
    color: #979797;
}
.login-user-inner-m{
   padding: 10px 32px;
    font-weight: bold;
}

.login-user-inner-m a{
    
    color: #979797;
}

.recent-eve{
    margin: 60px 0px;
}
.login-user{
    position: relative;
}
.user-sub-menu{
    width: 180px;
    position: absolute;
    z-index: 9999;
    padding: 5px 10px;
    background-color: rgba(0,0,0,0.5);
    color:white;
    list-style: none;
    left: -60px;
    line-height: 30px;
    display: none;
}
.login-user:hover .user-sub-menu{
    display: block;
}
.login-user-inner{
    padding-bottom: 20px;
    position: relative;
}
.login-user-inner:hover .user-sub-menu{
    display: block;
    color: white;
}
.login-user-inner .user-sub-menu
{
    text-align: center;
}
.user-sub-menu a{
    text-decoration: none;
    color: white;
}
.eltdf-wrapper-inner{
    overflow: unset !important;
}
.home-ev-img{
    height: 100%;
    object-fit: cover;
}
.eltdf-invitation-holder .eltdf-invitation-text-holder .eltdf-invitation-text-holder-inner{
    padding: 40px 0px;
}
.eltdf-invitation-holder
{
    padding: 50px 0px;
}
.eltdf-invitation-text-holder h1 a{
    text-decoration: none;
    color: black;
}
.m-login a{
    color: #979797 !important;
}

.timer ul li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

.timer ul  li span {
  display: block;
  margin-bottom: 30px;
  font-size: 4.5rem;
}
.timer {
    height: 300px;
    background: url('../images/05-landing-section1-background-img.png') center;
    background-size: cover;
    color: black;
    margin: 0 auto;
    padding: 0.5rem;
    text-align: center;
}